//AnyOffice UI颜色控制
//文件内容以标准JSON串格式保存，若不能正常转换成JSON，请用代码先替换掉注释再转换

//key 替换颜色的地方，通常有注释说明
//value 显示的颜色，8位16进制表示，#FFFFFFFF，前两个FF为透明度（十六进制），后面六位FFFFFF为颜色代码，采用RGB配色（十六进制）


{

//登录页背景颜色
	"loginBackground":"#FF23AEF3",

//自动登录选项
    "autoLoginView":{
        "show":true

    },

//设置按钮
    "settingButton":{
        "show":true

    },

//登录页登录按钮（背景颜色、标题颜色）
	"loginButton" : {
		"background_Highlighted" : "#FFCCCCCC",
		"background_normal" : "#FF70CAF7",
		"title" : "#FFFFFFFF",
		"cornerRadius":"5",
		"borderWidth":"0",
		"borderColor":"#FF000000"
	},
//登录页logo
	"loginLogo":{
		"size":"{90, 90}",
		"show":true
	},
//登录页账号输入框
	"loginAccountField":{
		"background":"#FFFFFFFF",
		"cornerRadius":"5",
		"borderWidth":"0",
		"borderColor":"#FF666666",
	},

//登录页密码输入框
	"loginPasswordField":{
		"background":"#FFFFFFFF",
		"cornerRadius":"5",
		"borderWidth":"0",
		"borderColor":"#FF666666",
	},
//登录页密码输入框和账号输入框的间距
	"loginInputFieldYSpace":"20",
//登录页自动登录、记住密码标题颜色
	"loginRemberFlag":{
		"title":"#FFFFFFFF"
	},
//登录页面在y轴偏移值，根据实际情况调整
	"loginVYOffset":"-30",
//默认导航栏颜色（除工作台导航栏以外）
	"baseNavigationBar":{
		"background":"#FFF4F4F4",
		"bottomLine":"#FFB7B7B7",
		"title":"#FF000000"
	},

//工作台导航栏颜色
	"workSpaceNavigationBar":{
		"background":"#FF28AAE7",
		"bottomLine":"#FFB7B7B7",
		"title":"#FFFFFFFF"
	},

//设置界面背景色（所有设置界面，包含终端管理的背景颜色）
	"settingTableViewBackground":"#FFEEEEEE",

//工作台背景色
	"workSpaceBackground":"#FFFFFFFF",

//其它待添加
//baseAlertView弹框相关
	"baseAlertView":{
		"background":"#F2FFFFFF",
		"title":"#FF000000",
		"message":"#FF000000",
		"buttonTitle":"#FF1D72FF"
	}


}